$smallMax: 20em;
$mediumMin: 20.1em;
$mediumMax: 40em;
$largeMin: 40.1em;

@mixin size($size) {
    @if $size == small {
        @media screen and (max-width: $smallMax) {
            @content;
        }
    }
    @else if $size == medium {
        @media screen and (min-width: $mediumMin) and (max-width: $mediumMax) {
            @content;
        }
    }
    @else if $size == large {
        @media screen and (min-width: $largeMin) {
            @content;
        }
    }
}