@import 'bourbon/bourbon';

$pink: #FFCCCB;
$tan: #FFD197;
$brown: #7F3D17;
$maroon: #7F1917;
$blue: #CBFFFA;
$teal: #21B6A8;

.hello {
    @include transform(rotate(-5deg));
    background-color: $pink;
    color: $maroon;
    padding: 40px;
    font-family: "Helvetica Neue", Sans-Serif;
}